body{
	position: relative;
}
h1{
font-family: 'Montserrat', sans-serif;
}
#myCarousel{
	margin-top: 8px;
}
#servico{
	text-align: center;

}
#port{
	box-shadow: 1px 1px 1px 3px #333;
	background-color:#222;
	margin-top:5%;
}
#port h1{
	text-align: center;
	color: #eee;
}
#team h1{
	text-align: center;
}
#team{
	background-color: #eee;
}
#contato{
	background-color: #0f0f0f;
	padding-bottom: 1%;
	box-shadow: 1px 1px 1px 3px #222;
}
#contato h1{
	text-align: center;
	color: #eee;
}
#bt{
	text-align: center;
}
#bt input[type=submit]{
	background-color: #e63a17;
	padding: 2%;
	border:none;
	color: #eee;
	font-family: 'Metrophobic', Arial, serif; font-weight: 700; 
	font-style: 18px;
}
#bt button{
	background-color: #e63a17;
	padding: 2%;
	border:none;
	color: #eee;
	font-style: 18px;
}
#bt button:hover{
	text-decoration: underline;
}
#bt input[type=submit]:hover{
	text-decoration: underline;
}
#copi{
	text-align: center;
	font-family: 'Metrophobic', Arial, serif; font-weight: 700;
	color: #eee;
}
footer{
	background-color: #0f0f0f;
	box-shadow: 1px 1px 1px 3px #333;
}
#textdesc{
	text-align: center;
	font-family: 'Droid Serif', serif;
	color: #838383;
}
li{
	list-style: none;
	display: inline;
}
ul li a{
	background-color: #e63a17;
	font-family: 'Metrophobic', Arial, serif; font-weight: 700;
}
ul li a:hover{
	background-color: #fff;
}
#men{
	color: #fff;
}
.carousel-caption{
	font-family: 'Droid Serif', serif;
}
button#social{
	border-radius: 50%;
	border:none;
	width: 40px;
	height: 40px;
	background-color: #222;
	transition-duration: 1s;
}
button#social:hover{
	background-color: #e63a17;
}
button#social-ft{
	border-radius: 50%;
	border:none;
	width: 70;
	height: 70;
	background-color: #0f0f0f;
	transition-duration: 1s;
}
button#social-ft:hover{
	background-color: #e63a17;
}
#btport{
	background-color: #222;
	padding: 2%;
	border:none;
	color: #eee;
	font-style: 18px;
	border-radius: 5px;
	transition-duration: 1s;
}
#btport:hover{
	background-color: #e63a17;
}